.mainbox {
    margin: 20px auto;
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 2px;
    column-gap: 2px;
}

.item1,
.item2,
.item3,
.item4,
.item9 {
    background-color: skyblue;
    color: white;
}

.item8,
.item11,
.item13,
.item12,
.item5,
.item6,
.item7,
.item10 {
    background-color: darkcyan;
    color: white;
}

.item14,
.item15,
.item16,
.item17,
.item18 {
    background-color: darkblue;
    color: white;
}

.item1 {
    grid-row: 1/ span 1;
}

.item4 {
    grid-row: 2 / span 2;
    grid-column: 2 / span 2;
}

.item5 {
    grid-row: 3 / span 1;
    grid-column: 4 / span 1;
}

.item6 {
    grid-row: 3 / span 1;
    grid-column: 5 / span 1;
}

.item7 {
    grid-row: 2 / span 1;
    grid-column: 5 / span 1;
}

.item8 {
    grid-row: 4 / span 1;
    grid-column: 2 / span 1;
}

.item9 {
    grid-row: 4 / span 1;
    grid-column: 3 / span 1;
}

.item10 {
    grid-row: 4 / span 2;
    grid-column: 4 / span 2;
}

.item11 {
    grid-row: 5 / span 1;
    grid-column: 2 / span 1;
}

.item12 {
    grid-row: 5 / span 1;
    grid-column: 3 / span 1;
}

.item13 {
    grid-row: 6 / span 1;
    grid-column: 2 / span 1;
}

.item14 {
    grid-row: 6 / span 2;
    grid-column: 3 / span 2;
}

.item15 {
    grid-row: 6 / span 1;
    grid-column: 5 / span 1;
}

.item16 {
    grid-row: 6 / span 1;
    grid-column: 6 / span 1;
}

.item17 {
    grid-row: 7 / span 1;
    grid-column: 5 / span 1;
}

.item18 {
    grid-row: 8 / span 1;
    grid-column: 4 / span 1;
}

.item4,
.item10,
.item14 {
    font-size: 23px;
}